body{
    background-color: olive;
}


#flex-parent{
    background-color: orangered;
    display: flex;
}
#flex-parent p{
    padding:5vw;
}

#flex-child1{
    order: 3;
     
}
#flex-child2{
    order: 4;
 
}
#flex-child3{
    order: 2;
 
}
#flex-child4{
    order: 1;
 
}


#grid-parent{
display: grid;
grid-template-columns: 3;
grid-template-rows:4 ;


}

#grid-parent h1{
    background-color: grey;
    padding:3vw 5vh;
    margin:5vw;
    
}
#no0{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    
}
#no1{
    grid-row-start: 0;
    grid-row-end: 1;
    grid-column-start: 0;
    grid-column-end: 1;

}
#no2{
    grid-row-start: 0;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 2;

}
#no3{
    grid-row-start: 0;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 3;

}
#no4{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 0;
    grid-column-end: 1;

}
#no5{

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

}
#no6{

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;

}
#no7{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 0;
    grid-column-end: 1;

}
#no8{

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;

}
#no9{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

}