body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
    transition-property: background-color;
    transition-duration: 2s;
    transition-delay: 2s;
    
}

#box1:hover{
background-color: purple;

}

#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation-name: box2move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes box2move{
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: 500px;
    }
    50% {
        top: 500px;
        left: 500px;
    }
    75% {
        top: 500px;
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }

}